ul#badge-list {
  padding: 0px;
  margin-left: 0px;
  padding-top: 20px;
}

ul#badge-list li {
  list-style: none;
  float: left;
  margin: 0px 20px 0px 0px;
}

.form-item-credly-badge-add {
	padding-bottom: 10px;
}